<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacio_01.Properties.Settings.conn" connectionString="Data Source=CHERRYY-E5440;Initial Catalog=ventas_paniagua;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>